# Игнорирование временных файлов и кэша
*.log
*.tmp
*.swp
.cache/
.history/

# Игнорирование файлов и директорий от IDE
.vscode/
.idea/

# Игнорирование системных и временных файлов
.DS_Store
Thumbs.db

# Игнорирование зависимостей и пакетов
node_modules/
package-lock.json
npm-debug.log
yarn-error.log
*.pyc

# Игнорирование локальных и временных данных
__pycache__/
db.sqlite3

# Игнорирование файлов окружения
.env
.env.local
.env.*.local
.env.*

# Игнорирование файлов настройки и секретов
config.js
secrets.json

# Игнорирование временных Docker файлов
.dockerignore
Dockerfile*